.navbarLogo {
    width: 35px;
    height: auto;
}

.navItems {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 19px;
}

.nav-item:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navEnd {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.navSpace {
    margin-left: 20px;
    cursor: pointer;
}

.navBar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 0px 100px;
}

.navColor {
    background-color: var(--main-color);
}