.searchBar{
    display: flex;
    height: 38px;
}

.searchBox {
    width: 300px;
}

.searchInput {
    border-color:  var(--main-color);
    border-style: solid;
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
}

.searchLabel {
    color:white;
    background-color: var(--main-color);
    border-radius: 10px 0 0 10px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.searchPreviewItems {
    border: 1px solid var(--main-color);
    padding: 10px;
    margin-top: 5px;
    max-height: 50%;
    scroll-behavior: auto;
    overflow-y: scroll;
    position: absolute;
    width: 300px;
    background-color: white;
}

.searchPreviewItems>button
{
    width: 100%;
    padding: 10px 20px;
    border-style: solid;
    border-color:  var(--main-color);
    border-width: 0px 0px 1px 0px;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
}

.searchPreviewItems> button:hover, .searchPreviewItems> button.active {
    background-color:  var(--main-color);
    color: white;
    outline: none;
}

.noResult{
    overflow-y: auto !important;
}