.productCard {
    display: flex;
    color: whitesmoke;
    font-weight: normal;
    padding: 20px;
}

.productCard>img{
    width: 50%;
    margin-right: 30px;
    border: solid 5px rgba(255, 255, 255, 0.7);;
}

.productTitle {
    size: 11;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product {
    width: 100%;
    background-color: var(--main-color-opaque);
}

.productDNE {
    padding: 50px;
    font-size: 40px;
    color: whitesmoke;
}

.productContent
{
    margin-left: 5px;
    font-size: 20px;
}