.productCard {
    display: flex;
    color: whitesmoke;
    font-weight: normal;
    padding: 20px;

}

.productCard>img{
    width: 50%;
    padding-right: 30px;
}

.productTitle {
    size: 11;
    font-weight: 600;
}

.product {
    width: 100%;
    background-color: var(--main-color-opaque);
}

.productDNE {
    padding: 50px;
    font-size: 50px;
}