
.searchItems {
    margin-top: 20px;
}

.searchItems>div {
    width: 100%;
    padding: 10px 20px;
    border-style: solid;
    border-color:  var(--main-color);
    border-width: 0px 0px 1px 0px;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
}

.searchItems>div:hover
{
    background-color:  var(--main-color);
    color: white;
}