
.searchItems {
    margin-top: 20px; 
    min-width: 480px;
}

.searchItems:focus {
    outline: none;
}


.searchItem>button {
    padding: 10px 10px;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
    border:none;
}

.searchItem {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color:  var(--main-color);
    border-width: 0px 0px 1px 0px;
}

.searchItem>button {
    padding-left: 20px;
    font: monsterrat;
    font-size: 16px;
    width: 400px;
}

.searchItem>button:hover, .searchItems>button:focus
{
    background-color:  var(--main-color);
    color: white;
    outline: none;
}

.divider {
    height: 1px;
    background-color: var(--main-color);
    min-width: 480px;
}