
.searchItems {
    margin-top: 20px;
    width: 450px;
}

.searchItems:focus {
    outline: none;
}


.searchItems>button {
    width: 100%;
    padding: 10px 20px;
    border-style: solid;
    border-color:  var(--main-color);
    border-width: 0px 0px 1px 0px;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
}

.searchItems>button:hover, .searchItems>button:focus
{
    background-color:  var(--main-color);
    color: white;
    outline: none;
}