:root {
  --main-color: #8ECBD2;
  --main-color-opaque:rgb(142, 203, 210,0.8);
}

body {
    background-color: #F2F2F2;
    min-height: 100vh;
    margin: 0px;;
  }
  
.centerBlock {
    display: flex;
    justify-content: center;
}